.input {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.inputElement {
    background-color: white;
    border: 1px solid #ccc;
    display: block;
    font: inherit;
    outline: none;
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
}

.inputElement:focus {
    background-color: #ccc;
    outline: none;
}