body {
  font-family: "Open Sans", sans-serif;
  margin: 20px;
}

.container {
  text-align: center;
}

button {
  border: 1px solid darkblue;
  padding: 15px;
  background-color: green;
  color: white;
}

button:hover {
  background-color: lightgreen;
  color: black;
}

button.Red {
  background-color: red;
}

button.Red:hover {
  background-color: salmon;
  color: black;
}